{% extends 'layout.njk' %}

{% block content %}
    <div class="header_botoes">
        <h2>Criando receita</h2>
        <div class="botoes">
            <button class="botao">Salvar receita</button>
        </div>
    </div>
    <form class="form_compartilhado" action="/">
        {% include 'admin/fields.njk'%}
    </form>
{% endblock content %}