{% extends 'layout.njk' %}

{% block content %}
    <div class="header_botoes">
        <h2>Criando receita</h2>
        <div class="botoes">
            <button class="botao" type="submit" form="form_create">Salvar receita</button>
        </div>
    </div>
    <form id="form_create" class="form_compartilhado" action="/admin" method="POST">
        {% include 'admin/fields.njk'%}
    </form>
{% endblock content %}

{% block script %}
    <script src="/add_item.js"></script>
{% endblock script %}