{% extends 'layout.njk' %}

{% block content %}
    <div class="edit">
        <div class="header_botoes">
            <h2>Editando receita: {{ recipe.title }}</h2>
            <div class="botoes">
                <button form="form_delete" type="submit" class="botao delete">Deletar</button>
                <button form="form_edit" type="submit" class="botao">Salvar receita</button>
            </div>
        </div>

        <form action="/admin?_method=DELETE" method="POST" id="form_delete">
            <input type="hidden" name="id" value="{{ recipe.id }}">
        </form>

        <form class="form_compartilhado" action="/admin?_method=PUT" method="POST" id="form_edit">
            <input type="hidden" name="id" value="{{ recipe.id }}">
            {% include 'admin/fields.njk'%}
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script src="/add_item.js"></script>
    <script src="/confirm_delete.js"></script>
{% endblock script %}