<label class="item">
    <div>Imagem da receita</div>
    <div>
        <input type="url" name="photo">
    </div>
</label>

<label class="item">
    <div>Ingredientes</div>
    <div>
        <input type="text" name="ingredients[]">
        <input type="text" name="ingredients[]">
    </div>
    <span class="add_item">Adicionar novo ingrediente</span>
</label>

<label class="item">
    <div>Modo de preparo</div>
    <div>
        <input type="text" name="preparation[]">
        <input type="text" name="preparation[]">
    </div>
    <span class="add_item">Adicionar novo ingrediente</span>
</label>

<label class="item">
    <div>Informações adicionais</div>
    <div>
        <textarea name="aditional_information"></textarea>
    </div>
</label>