{% extends 'layout.njk' %}

{% block content %}
    <div class="admin_index">
        <h1>Gerenciar receitas</h1>
        <div class="grid">
            {% for recipe in recipes %}
                <div class="item">
                    <div>
                        <img src="{{ recipe.image }} " alt="{{ recipe.title }} ">
                    </div>
                    <div>
                        <h2>{{ recipe.title }} </h2>
                        <p>{{ recipe.author }} </p>
                        <a href="/admin/{{ recipe.ID }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}