{% extends 'layout.njk' %}

{% block content %}
    <div class="admin_index">
        <header class="header_botoes">
            <h2>Gerenciar receitas</h2>
            <div class="botoes">
                <a class="botao" href="/admin/create">Criar nova receita</a>
            </div>
        </header>
        <div class="grid">
            {% for recipe in recipes %}
                <div class="item">
                    <div>
                        <img src="{{ recipe.photo }} " alt="{{ recipe.title }} ">
                    </div>
                    <div>
                        <h2>{{ recipe.title }} </h2>
                        <p>{{ recipe.author }} </p>
                        <a href="/admin/{{ recipe.id }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}