<html lang="pt_BR">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    {% block head %}
        <title>Foodfy</title>
    {% endblock head %}
</head>
<body>
    <main>
        <header class="header_principal">
            <a href="/"><img src="/assets/logo.png" alt="Logo"></a>
            <a target="blank" href="/sobre">Sobre</a>
            <a target="blank" href="/">Receitas</a>
        </header>

        {% block content %}{% endblock content %}

    </main>

    <footer>
        <p>Todos os direitos reservados, receitas Foody.</p>
    </footer>

    {% block script %}{% endblock script %}
</body>
</html>