{% extends "layout.njk" %}

{% block content %}
    <div class="login">
        <div class="apresentation">
            <form action="/login" method="POST" id="form_login" id="form_login">
                <label class="item">
                    <div>User</div>
                    <div>
                        <input type="text">
                    </div>
                </label>

                <label class="item">
                    <div>Password</div>
                    <div>
                        <input type="password">
                    </div>
                </label>

                <a href="/admin" class="botao">Entrar</a>
            </form>

            <img src="/assets/chef.png" alt="chef" class="login_image">
        </div>
    </div>
{% endblock content %}