{% extends "layout.njk" %}

{% block head %}
    <title>{{recipe.title}} | Foodfy</title>
{% endblock head %}

{% block content %}
        <section class="food">
            <img class="img-rad" src="{{recipe.photo}}" alt="{{recipe.title}}">
            <h2>{{recipe.title}}</h2>
            <p>{{recipe.author}}</p>
        </section>

        <section class="info">
            <div class="localiza some">
                <h3>Ingredientes <span>mostrar</span></h3>
                {% for ingredientes in recipe.ingredients %}
                    {% if ingredientes != "" %}
                        <li>{{ingredientes}} </li>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="localiza some">
                <h3>Modo de preparo <span>mostrar</span></h3>
                {% for step in recipe.preparation %}
                    {% if step != "" %}
                        <li>{{step}} </li>
                    {% endif %}
                {% endfor %}
            </div>

            {% if recipe.aditional_information != '' %}
                <div class="localiza some">
                    <h3>Informações adicionais <span>mostrar</span></h3>
                    <p>{{recipe.aditional_information}}</p>
                </div>
            {% endif %}
        </section>
{% endblock %}
    
{% block script %} <script src="/recipe.js"></script> {% endblock script %}