{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy</title>
{% endblock head %}

{% block content %}
        <section>
            <div class="apresentation">
                <div>
                    <h1>As melhores receitas</h1>
                    <p>
                        Aprenda a construir os melhores pratos
                        com receitas criadas por profissionais 
                        do mundo inteiro
                    </p>
                </div>
                <img src="/assets/chef.png" alt="chef">
            </div>
        </section>

        <h2>Mais acessadas</h2>
        <div class="row">
            {% for card in cards %}
                <a target="_blank" href="/recipe/{{card.ID}}">
                    <div class="card"> 
                        <img class="img-rad" src="{{card.image}}" alt="{{card.title}}">
                        <h3>{{card.title}}</h3>
                        <p>{{card.author}}</p>
                    </div>
                </a>
            {% endfor %}

        </div>
    </main>
{% endblock %}
    
{% block script %} <script src="/scripts.js"></script> {% endblock script %}